.cover__group{
grid-area: gp;
flex-direction: column;
display: flex;
width: 656px;
height: 254px;
z-index: 2;
align-items: center;
}


@media (max-width: 320px) {
    .cover__group {
    width: 288px;
    height: 163px;
    }
    }