.criccieth__container__title{
    color: #FFF;
width: 484px;
font-family: Inter;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 76px;
grid-area: cric1;
margin: 0;
height: 152px;
}