.criccieth__container{
    width: 984px;
    height: 756px;
    flex-shrink: 0;
    position: relative;
    left: 148px;
    display: grid;
    margin-top: 80px;
    grid-template-columns: 484px 484px;
    grid-template-rows: 152px 460px 48px;
    grid-gap: 48px 40px;
    grid-template-areas: 
    "cric1 cric2"
    "cric3 cric4"
    "cric5 ."
}