.place-criccieth{
margin: 0;
padding-bottom: 35px;
padding-top: 80px;
width: 984px;
display: grid;
grid-template-columns: 460px 484px;
grid-template-rows: 152px 460px 48px;
grid-gap: 48px 40px;
grid-template-areas: 
"item1 item2"
"item3 item4"
"item5 .";
}

@media (max-width: 768px) {
.place-criccieth {
width: 720px;
grid-template-columns: 340px 352px;
grid-template-rows: 89px 340px 48px;
grid-gap: 24px 28px;
position: relative;
top: 40px;
}    
}


@media (max-width: 320px) {
.place-criccieth {
width: 320px;
display: flex;
flex-direction: column;
grid-gap: inherit;
padding: 0;
top: 16px;
}    
}