.place__paragraph-muram{
color: #FFF;
width: 484px;
height: 203px;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 163%;
grid-area: item4;
margin: 0;
position: relative;
top: 199px;
}

@media (max-width: 768px) {
.place__paragraph-muram {
width: 352px;
height: 234px;
font-size: 16px;
top: 219px;
}
        
}


@media (max-width: 320px) {
    .place__paragraph-muram {
    width: 288px;
    height: 260px;
    position: relative;
    left: 16px;
    top: 70px;
    }
    
}