.place-berea{
margin: 0;
padding-bottom: 93px;
width: 984px;
height: 725px;
display: grid;
grid-template-columns: 460px 484px;
grid-template-rows: 152px 460px 48px;
grid-gap: 17px 40px;
grid-template-areas: 
"item1 item2"
"item3 item4"
"item5 .";
}

#button3 {
color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
text-decoration: none;
font-weight: 600;
line-height: normal;
grid-area: item5;
border-radius: 4px;
background: #0278FE;
display: inline-flex;
padding: 13px 20px;
align-items: flex-start;
gap: 10px;
justify-content: center;
width: 315px;
position: relative; 
top: 28px;   
}

@media (max-width: 768px) {
.place-berea {
width: 720px;
height: 634px;
grid-template-columns: 340px 352px;
grid-template-rows: 69px 364px 48px;
grid-gap: 24px 28px;
position: relative;
top: 152px;
}
    
#button3{
top: 0px;
width: 315px;
}    
}

@media (max-width: 320px) {
.place-berea {
width: 320px;
height: 1186px;
display: flex;
flex-direction: column;
grid-gap: inherit;
top: 51px;
padding: 0;
}

#button3{
position: relative;
width: 245px;
height: 17px;
font-size: 14px;
padding: 16px 22px 15px 21px;
left: 16px;
top: 6px;        
}        
}

