.website__url--heading{
color: #AAA;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.44px;
text-transform: uppercase;
width: 58px;
height: 15px;
margin: 0;
padding-top: 0;
padding-bottom: 8px;
}


@media (max-width: 320px) {
.website__url--heading {
width: 288px;
height: 15px;
}    
}