.place__paragraph_cricc{
color: #FFF;
width: 484px;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 163%;
grid-area: item4;
margin: 0;
position: relative;
top: 230px;
}

@media (max-width: 768px) {
.place__paragraph_cricc {
width: 352px;
font-size: 16px;
}    
}

@media (max-width: 320px) {
.place__paragraph_cricc {
width: 288px;
position: relative;
left: 16px;
top: 10px;
}    
}